
<% header = "I generated #{@potential_schedules.size} schedules!" %>
<% header = "No schedules could be generated with that course load :(" if @potential_schedules.size == 0 %>
<% header = "I could only generate one schedule with those courses... I hope you like it!" if @potential_schedules.size == 1 %>

<h1><%= header %></h1>
<% if @potential_schedules.size > 1 %><h3>I also sorted them by how awesome they are :)</h3><%end%>

<% @potential_schedules.each do |bucket| %>
    <% potential = bucket.schedules.first %>
    <% @bucket = bucket %>
        <% @potential_schedule = potential %>
        <div class="well">
            <table>
            <p><%= render "weekly_schedule" %></p>
            <p><%= render "course_statistics" %></p>
            <p><%= render "course_selection_info" %></p>
            </table>
        </div>
<% end %>
